.masthead.zoomed:after {
  opacity: 0;
}
.masthead.zoomed {
  background-color: #25282A;
}

.masthead {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0em;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;
  background-color: #000000;
  background-position: 50% 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.masthead:after {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-size: cover;
  opacity: 0.45;
}

.masthead.bg1:after {
  background-image: url("../img/bg/1.jpg");
}
.masthead.bg2:after {
  background-image: url("../img/bg/bg1.jpg");
}
.masthead.bg3:after {
  background-image: url("../img/bg/bg2.jpg");
}
.masthead.bg4:after {
  background-image: url("../img/bg/bg3.jpg");
}
.masthead.bg5:after {
  background-image: url("../img/bg/bg4.jpg");
}
.masthead.bg6:after {
  background-image: url("../img/bg/bg5.jpg");
}
.masthead.bg7:after {
  background-image: url("../img/bg/bg6.jpg");
}

.masthead,
.masthead:after {
  -ms-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  -moz-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  -webkit-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
}