body {
    transition: 0.3s ease-out;
}

.ui.feedback.modal>.close {
    top: 1.0535rem;
    right: 1rem;
    color: rgba(0,0,0,.87);
}

.inverted.card {
	background: #242424 !important;
}

.inverted>.content>.header {
	color: white !important;
}
.inverted>.content>.meta {
	color: rgba(255,255,255,0.6) !important;
}

.inverted>.content>a {
	color: rgba(255,255,255,0.4) !important;
}

.inverted>.content {
	color: rgba(255,255,255,0.4) !important;
}

.inverted>.extra.content>.content>p>a {
	color: rgba(255,255,255,0.4) !important;
}


.inverted>.items>.item>.content>.header {
	color: white !important;
}

.inverted>.items>.item>.content>.meta {
	color: rgba(255,255,255,0.6) !important;
}
.inverted>.items>.item>.content>.meta>a {
	color: rgba(255,255,255,0.4) !important;
}
.inverted>.items>.item>.content>.meta>a:hover,
.inverted>.items>.item>.content>.meta>a:active {
	color: rgba(255,255,255,0.8) !important;
}
.inverted>.items>.item>.content>.description {
	color: white !important;
}

.night {
    background: #1b1c1d;
    color: #fff;
}

.side-content {
	
	margin: 20px auto;
	max-width: 1400px;
}

.container {
	padding: 0 10px;
}

.card {
	letter-spacing: 0.03rem;
	width: 30% !important;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19) !important;
}

.item>.image {
	max-height: calc(175px * 0.75);
}

.menu>.circular.button {
	box-shadow: none;
}

.menu>.circular.button:hover {
	background: #e0e1e2 none !important;
	box-shadow: none;
}

.menu>.circular.button:focus {
	box-shadow: none;
}


.ui.accordion .title {
	padding: 0 !important;
	color: inherit !important;
}

.main-content {
	margin: .875em .5em !important;
	width: 67%;
}

.tab-bar {
	height: 56px;
	padding: 10px !important;
}

.ui.social.segment {
    margin: auto;
    padding-bottom: 30px;
    word-spacing: 10px;
    text-align: center;
}
/* social buttons */
.ui.github.button {
	background-color: #333;
    color: #fff;
    text-shadow: none;
}

.ui.github.button:hover {
    background-color: #2f2f2f;
}

.ui.github.button:active {
    background-color: #282828;
}

.ui.bitbucket.button {
    background-color: #205081;
    color: #fff;
    text-shadow: none;
}
.ui.bitbucket.button:hover {
    background-color: #1c4c7d;
}
.ui.bitbucket.button:active {
    background-color: #154576;
}
.ui.quora.button {
    background-color: #a82400;
    color: #fff;
    text-shadow: none;
}
.ui.quora.button:hover {
    background-color: #902507;
}
.ui.quora.button:active {
    background-color: #801d02;
}
.ui.stack.overflow.button {
    background-color: #f48024;
    color: #fff;
    text-shadow: none;
}
.ui.stack.overflow.button:hover {
    background-color: #f48024;
}
.ui.stack.overflow.button:active {
    background-color: #f48024;
}

@media (min-width: 951px) {
	.card {
		max-height: 760px;
	}

}

@media (max-width: 950px) {
	.card {
		margin: 30px 50px !important;
		width: 100% !important;
	}

	.main-content {
		margin: 10px 50px !important;
		width: 100%;
	}
}

.ui.footer {
	padding: 3em 0em;
}

.copyright {
	color: #fff;
	font-size: 16px;
}

.ui.section.divider {
    margin: 0;
}

.copyright>a {
	color: #aaa;
}

.copyright>a:hover {
	color: #eee;
}

footer {
	margin: 5em 0em 0em;
}